
*.png
*.jpg
*test*
__pycache__/tetohu_ppt.cpython-37.pyc
build/tetohu_ppt/Analysis-00.toc
build/tetohu_ppt/base_library.zip
build/tetohu_ppt/EXE-00.toc
build/tetohu_ppt/PKG-00.pkg
build/tetohu_ppt/PKG-00.toc
build/tetohu_ppt/PYZ-00.pyz
build/tetohu_ppt/PYZ-00.toc
build/tetohu_ppt/tetohu_ppt.exe.manifest
build/tetohu_ppt/Tree-00.toc
build/tetohu_ppt/Tree-01.toc
build/tetohu_ppt/warn-tetohu_ppt.txt
build/tetohu_ppt/xref-tetohu_ppt.html
tetohu_ppt.exe
tetohu_ppt.spec
